.FootballerAddForm {
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .FootballerAddForm label {
    display: block;
    margin-bottom: 5px;
  }
  
  .FootballerAddForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }